<footer class="d-block w-100 py-5 text-center    bg-dark text-light">
    <p>Copyright 2020: All rights reserved</p> 
    Website by: <a style="color: red; text-decoration: none;" href="https://gyanendra.tech">Gyanendra</a>
</footer>
</body>
</html>