<%- include('partials/header') %> 

<form action="/register" method="post">
<input type="text" name='username' placeholder="email">
<input type="text" name="name" placeholder="name">
<input type="text" name="mobile" placeholder="mobile" >
<input type="password" name="password" placeholder="password">
<button type="submit">register</button>
</form>